/* --------------------------------
Primary style stuff
-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

body {
  font-family: "Fira Sans", sans-serif;
  color: #ffffff;
  background-color: #ffffff; }

a {
  color: #AC9BF7;
  text-decoration: none; }

img {
  max-width: 100%;
  box-shadow: -11px 7px 18px 0px rgba(0, 0, 0, 0.17); }

h1 {
  max-width: 80%;
  z-index: 1;
  font-size: 50px;
  line-height: 60px;
  font-family: "Playfair Display", serif;
  margin: 0 0 20px 5px;
  padding-top: 0; }
  @media only screen and (min-width: 480px) {
    h1 {
      max-width: 100%;
      font-size: 120px;
      line-height: 130px;
      margin: 0 0 30px 25px; } }
  @media only screen and (min-width: 768px) {
    h1 {
      margin: 0 0 20px 0; } }
  @media only screen and (min-width: 1170px) {
    h1 {
      max-width: 800px; } }
  @media only screen and (max-width: 340px) {
    h1 {
      max-width: 100%; } }

h2 {
  color: #142223;
  max-width: 95%;
  z-index: 1;
  font-size: 35px;
  line-height: 46px;
  font-family: "Playfair Display", serif;
  margin: 0 0 20px 0;
  padding-top: 5px; }
  @media only screen and (min-width: 480px) {
    h2 {
      max-width: 100%;
      font-size: 45px;
      line-height: 48px;
      margin: 0 0 55px 5px; } }

p {
  font-size: 18px;
  opacity: 0.9;
  z-index: 1;
  font-weight: 500;
  color: #142223;
  opacity: 80%;
  line-height: 28px;
  text-align: justify;
  margin: 15px 5px; }
  @media only screen and (min-width: 480px) {
    p {
      font-size: 20px;
      line-height: 30px;
      margin: 30px 0 15px 25px; } }
  @media only screen and (min-width: 768px) {
    p {
      font-size: 20px;
      line-height: 30px;
      margin: 30px 25px 15px 0; } }
  @media only screen and (min-width: 1170px) {
    p {
      max-width: 500px;
      margin: 15px 0; } }

@media only screen and (min-width: 1170px) {
  .space {
    height: 50px; } }

.seperator {
  display: block;
  width: 65px;
  height: 7px;
  background: #957EF7;
  margin: 10px 0 15px 5px; }
  @media only screen and (min-width: 480px) {
    .seperator {
      width: 70px;
      height: 8px;
      margin: 10px 0 15px 0; } }

.seperator-small {
  display: block;
  width: 50px;
  height: 4px;
  background: #957EF7;
  margin-top: 10px;
  margin-bottom: 15px; }
  @media only screen and (min-width: 480px) {
    .seperator-small {
      width: 60px;
      height: 6px;
      margin-top: 20px; } }

/* --------------------------------
Stretchy Nav style
-------------------------------- */
.cd-stretchy-nav {
  position: fixed;
  z-index: 2;
  top: 35px;
  right: 5%;
  pointer-events: none; }
  @media only screen and (min-width: 1170px) {
    .cd-stretchy-nav {
      top: 50%;
      right: 25px; } }
  .cd-stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    border-radius: 30px;
    background: #142223;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s; }
    @media only screen and (min-width: 480px) {
      .cd-stretchy-nav .stretchy-nav-bg {
        width: 60px;
        height: 60px; } }
  .cd-stretchy-nav.nav-is-visible {
    pointer-events: auto; }
  .cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: block;
    position: fixed;
    border-radius: 0; }
    @media only screen and (min-width: 1170px) {
      .cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
        border-radius: 50px;
        width: 60px;
        top: 50%;
        right: 25px;
        pointer-events: none; } }

.cd-nav-trigger {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  /* replace text with image */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  pointer-events: auto; }
  @media only screen and (min-width: 480px) {
    .cd-nav-trigger {
      height: 60px;
      width: 60px; } }
  .cd-nav-trigger span, .cd-nav-trigger span::after, .cd-nav-trigger span::before {
    /* this is the hamburger icon */
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #ffffff; }
  .cd-nav-trigger span {
    /* middle line of the hamburger icon */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s; }
  .cd-nav-trigger span::after, .cd-nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s; }
  .cd-nav-trigger span::before {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px); }
  .cd-nav-trigger span::after {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px); }
  .no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }
  .nav-is-visible .cd-nav-trigger {
    border: 1.5px solid rgba(255, 255, 255, 0.7);
    width: 45px;
    height: 45px; }
    @media only screen and (min-width: 1170px) {
      .nav-is-visible .cd-nav-trigger {
        width: 60px;
        height: 60px;
        border: none; } }
    .nav-is-visible .cd-nav-trigger span {
      background-color: transparent; }
    .nav-is-visible .cd-nav-trigger span::before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .nav-is-visible .cd-nav-trigger span::after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.cd-stretchy-nav ul {
  position: relative;
  z-index: 2;
  padding: 70px 0 20px 0;
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  -moz-transition: visibility 0.3s;
  transition: visibility 0.3s;
  text-align: right; }
  .cd-stretchy-nav ul a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 calc(1em + 60px) 0 1em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s; }
    @media only screen and (min-width: 1170px) {
      .cd-stretchy-nav ul a {
        color: rgba(20, 34, 35, 0.7); } }
    .cd-stretchy-nav ul a::after {
      /* navigation item icons */
      content: '';
      position: absolute;
      height: 19px;
      width: 19px;
      right: 22px;
      top: 50%;
      -webkit-transform: translateY(-50%) scale(0);
      -moz-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
      -o-transform: translateY(-50%) scale(0);
      transform: translateY(-50%) scale(0);
      opacity: .6;
      background: url(../img/menu-sprite.svg) no-repeat 0 0; }
    .cd-stretchy-nav ul a::before {
      /* line visible next to the active navigation item */
      content: '';
      position: absolute;
      width: 3px;
      height: 16px;
      top: 50%;
      right: 60px;
      -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
      -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
      -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
      -o-transform: translateX(3px) translateY(-50%) scaleY(0);
      transform: translateX(3px) translateY(-50%) scaleY(0);
      background-color: #957EF7; }
  .cd-stretchy-nav ul li:first-of-type a::after {
    /* change custom icon using image sprites */
    background-position: 0 0; }
  .cd-stretchy-nav ul li:nth-of-type(2) a::after {
    background-position: -18px 0; }
  .cd-stretchy-nav ul li:nth-of-type(3) a::after {
    background-position: -37px 0; }
  .cd-stretchy-nav ul li:nth-of-type(4) a::after {
    background-position: -56px 0; }
  .cd-stretchy-nav ul span {
    /* navigation item labels */
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px); }

.cd-stretchy-nav.nav-is-visible ul {
  visibility: visible; }
  .cd-stretchy-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    -moz-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .cd-stretchy-nav.nav-is-visible ul a.active {
    color: #ffffff; }
    @media only screen and (min-width: 1170px) {
      .cd-stretchy-nav.nav-is-visible ul a.active {
        color: #142223; } }
    .cd-stretchy-nav.nav-is-visible ul a.active::after {
      opacity: 1; }
    .cd-stretchy-nav.nav-is-visible ul a.active::before {
      -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
      -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
      -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
      -o-transform: translateX(3px) translateY(-50%) scaleY(1);
      transform: translateX(3px) translateY(-50%) scaleY(1);
      -webkit-transition: -webkit-transform 0.15s 0.3s;
      -moz-transition: -moz-transform 0.15s 0.3s;
      transition: transform 0.15s 0.3s; }
  .cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: slideIn 0.1s backwards;
    -moz-animation: slideIn 0.1s backwards;
    animation: slideIn 0.1s backwards;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s; }
  .no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
    color: #ffffff; }
    @media only screen and (min-width: 1170px) {
      .no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
        color: #142223; } }
    .no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
      opacity: 1; }
    .no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
      -webkit-transform: translateX(-5px);
      -moz-transform: translateX(-5px);
      -ms-transform: translateX(-5px);
      -o-transform: translateX(-5px);
      transform: translateX(-5px); }
  .cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
  .cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s; }
  .cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
  .cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  .cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
  .cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s; }
  .cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
  .cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }

/* --------------------------------

add-content navigation style

-------------------------------- */
.cd-stretchy-nav.add-content {
  right: 20px;
  width: 60px; }
  .cd-stretchy-nav.add-content .stretchy-nav-bg {
    background-color: #0b1213;
    -webkit-transition: width 0.2s, box-shadow 0.2s;
    -moz-transition: width 0.2s, box-shadow 0.2s;
    transition: width 0.2s, box-shadow 0.2s; }
    @media only screen and (min-width: 1170px) {
      .cd-stretchy-nav.add-content .stretchy-nav-bg {
        border-radius: 50px;
        width: 60px; } }
  .cd-stretchy-nav.add-content.nav-is-visible .stretchy-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); }

.cd-stretchy-nav.add-content .cd-nav-trigger {
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #142223; }
  .cd-stretchy-nav.add-content .cd-nav-trigger span {
    background-color: transparent; }
  .cd-stretchy-nav.add-content .cd-nav-trigger span::before {
    /* used to create the plus icon */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .cd-stretchy-nav.add-content .cd-nav-trigger span::after {
    /* used to create the plus icon */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }

.cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); }
  .cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::before {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .cd-stretchy-nav.add-content.nav-is-visible .cd-nav-trigger span::after {
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    -o-transform: rotate(-225deg);
    transform: rotate(-225deg); }

.cd-stretchy-nav.add-content ul {
  padding-top: 0; }
  .cd-stretchy-nav.add-content ul::after {
    clear: both;
    content: "";
    display: table; }
  .cd-stretchy-nav.add-content ul li {
    display: inline-block;
    float: left;
    width: 60px; }
    .cd-stretchy-nav.add-content ul li:nth-of-type(2) {
      /* space occupied by the navigation trigger */
      margin-right: 60px; }
  .cd-stretchy-nav.add-content ul a {
    padding: 0;
    height: 60px;
    width: 100%; }
    .cd-stretchy-nav.add-content ul a::after {
      top: 50%;
      left: 22px;
      right: auto;
      -webkit-transform: translateY(-50%) scale(0);
      -moz-transform: translateY(-50%) scale(0);
      -ms-transform: translateY(-50%) scale(0);
      -o-transform: translateY(-50%) scale(0);
      transform: translateY(-50%) scale(0);
      background-image: url(../img/cd-sprite-2.svg); }
  .cd-stretchy-nav.add-content ul li:first-of-type a::after {
    background-position: -16px 0px; }
  .cd-stretchy-nav.add-content ul li:nth-of-type(2) a::after {
    background-position: 0px 0px; }
  .cd-stretchy-nav.add-content ul li:nth-of-type(3) a::after {
    background-position: -48px 0px; }
  .cd-stretchy-nav.add-content ul li:nth-of-type(4) a::after {
    background-position: -32px 0px; }
  .cd-stretchy-nav.add-content ul li:first-of-type a::after,
  .cd-stretchy-nav.add-content ul li:nth-of-type(4) a::after {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  .cd-stretchy-nav.add-content ul li:nth-of-type(2) a::after,
  .cd-stretchy-nav.add-content ul li:nth-of-type(3) a::after {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s; }

.cd-stretchy-nav.add-content.nav-is-visible ul a::after {
  -webkit-animation-name: scaleIn;
  -moz-animation-name: scaleIn;
  animation-name: scaleIn;
  -webkit-transform: translateY(-50%) scale(1);
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1); }

.cd-stretchy-nav.add-content ul span {
  position: absolute;
  left: 0;
  top: -20px;
  width: 100%;
  padding: 0.6em 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  font-size: 1.2rem;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  -moz-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
  /* reset default style */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
  .cd-stretchy-nav.add-content ul span::after {
    /* triangle below the tooltip */
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 4px solid transparent;
    border-top-color: rgba(0, 0, 0, 0.8); }

.cd-stretchy-nav.add-content.nav-is-visible ul span {
  /* reset default style */
  -webkit-animation: none;
  -moz-animation: none;
  animation: none; }

.no-touch .cd-stretchy-nav.add-content.nav-is-visible ul a:hover span {
  opacity: 1;
  visibility: visible;
  /* reset default style */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

/* --------------------------------

keyframes

-------------------------------- */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0); }
  to {
    -webkit-transform: translateY(-50%) scale(1); } }
@-moz-keyframes scaleIn {
  from {
    -moz-transform: translateY(-50%) scale(0); }
  to {
    -moz-transform: translateY(-50%) scale(1); } }
@keyframes scaleIn {
  from {
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0); }
  to {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1); } }
@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-moz-keyframes slideIn {
  from {
    opacity: 0;
    -moz-transform: translateX(-25px); }
  to {
    opacity: 1;
    -moz-transform: translateX(0); } }
@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
/* --------------------------------
Section specific style stuff
-------------------------------- */
.light-bg {
  background-color: #AC9BF7;
  background-image: linear-gradient(to bottom right, #FAF2FF, #C0B4F4);
  padding-bottom: 5px; }
  @media only screen and (min-width: 1170px) {
    .light-bg {
      padding-bottom: 10%; } }

.light-section {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  padding: 5px 0; }
  @media only screen and (min-width: 768px) {
    .light-section {
      padding-top: 25px;
      padding-bottom: 10px; } }
  @media only screen and (min-width: 1170px) {
    .light-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%; } }
  .light-section h1, .light-section p {
    color: #142223; }
  .light-section h2, .light-section p {
    color: #142223; }

.dark-bg {
  background-color: #142223;
  background-image: linear-gradient(to bottom, #243233, #142223);
  padding-bottom: 5px; }
  @media only screen and (min-width: 1170px) {
    .dark-bg {
      padding: 25px 0; } }

.dark-section {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
  padding: 5px 0; }
  @media only screen and (min-width: 768px) {
    .dark-section {
      padding-top: 25px;
      padding-bottom: 10px; } }
  @media only screen and (min-width: 1170px) {
    .dark-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 5%; } }
  .dark-section h1, .dark-section p {
    color: #ffffff; }
  .dark-section h2, .dark-section p {
    color: #ffffff; }

.sub-container {
  background-color: #ffffff;
  width: 100%;
  margin: 20px auto;
  padding: 10px 0; }
  @media only screen and (min-width: 768px) {
    .sub-container {
      background-color: transparent;
      margin-bottom: 0;
      padding-bottom: 20px; }
      .sub-container#container1 {
        padding-bottom: 0; }
      .sub-container#container2 {
        padding-bottom: 20px; } }
  @media only screen and (min-width: 1170px) {
    .sub-container {
      display: flex;
      width: 90%;
      max-width: 1170px;
      background-color: transparent; }
      .sub-container#container1 {
        flex-direction: row-reverse;
        height: 260px;
        margin-bottom: 10%; }
      .sub-container#container2 {
        height: 290px;
        margin-bottom: 0; } }
  .sub-container .sub-section {
    width: 90%;
    margin: 0 auto; }
    @media only screen and (min-width: 480px) {
      .sub-container .sub-section {
        box-shadow: 15px 20px 10px 0px rgba(0, 0, 0, 0.17); } }
    @media only screen and (min-width: 768px) {
      .sub-container .sub-section {
        padding: 25px;
        background-color: #ffffff; } }
    @media only screen and (min-width: 1170px) {
      .sub-container .sub-section {
        background-color: #ffffff;
        padding: 25px 37.5px; } }
    .sub-container .sub-section h2 {
      max-width: 65%; }
      @media only screen and (min-width: 768px) {
        .sub-container .sub-section h2 {
          margin: 0;
          max-width: 100%; } }
    .sub-container .sub-section p {
      margin: 0;
      padding: 0; }
      @media only screen and (min-width: 768px) {
        .sub-container .sub-section p {
          padding-top: 10px;
          font-size: 18px;
          line-height: 27px; } }
  .sub-container .image-box {
    width: 90%; }

.image-box {
  margin: 15px auto; }
  @media only screen and (min-width: 768px) {
    .image-box {
      margin: 45px auto; } }
  @media only screen and (min-width: 1170px) {
    .image-box {
      padding: 0; }
      .image-box#box1 {
        max-width: 450px;
        margin-top: -3.5em; }
      .image-box#box2 {
        margin-top: -2em; } }

@media only screen and (min-width: 1170px) {
  #image1 {
    text-align: right;
    margin: -380px 0 0 0; } }

@media only screen and (min-width: 1170px) {
  #image2 {
    text-align: right;
    margin: -450px 0 0 0; }
    #image2 img {
      max-width: 600px; } }
@media screen and (max-width: 1330px) {
  #image2 {
    margin-right: 0; } }
