// Colors

$primary-color: #ffffff; // White
$secondary-color: #142223; // Soft Black
$faded-color: #40494F; // Softer Black
$highlight-color: #AC9BF7; // Purple
$highlight-alt-color: #957EF7; // Bright Purple

// Fonts

$primary-font: 'Playfair Display', serif; // Headers
$secondary-font: 'Fira Sans', sans-serif; // Not Headers

// Extras

$desktop-margin: 25px; // So everything is the same spacing
$mobile-margin: ($desktop-margin - 20px); // So everything is the same spacing
$standard-shadow: -11px 7px 18px 0px rgba(0,0,0,0.17);
$heavy-shadow: 15px 20px 20px 0px rgba(0,0,0,0.17);
$soft-shadow: 20px 20px 30px 1px rgba(0, 0, 0, 0.1);
