/* --------------------------------

Stretchy Nav style - common to:
 - basic navigation
 - add-content navigation
 - edit-content navigation

-------------------------------- */

#cd-vertical-nav {
	// Default for JS show/hide effect
	display: none;
}

.cd-stretchy-nav {
	position: fixed;
	z-index: 2;
	top: 40px;
	right: 15px;
	pointer-events: none;

	.stretchy-nav-bg {
		/* this is the stretching navigation background */
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 60px;
		height: 60px;
		border-radius: 30px;
		background: $secondary-color;
		box-shadow: 0 1px 4px rgba(#000, .2);
		@include transition(height .2s, box-shadow .2s);
	}
	&.nav-is-visible {
		pointer-events: auto;
	}

	&.nav-is-visible .stretchy-nav-bg {
		height: 100%;
		box-shadow: 0 6px 30px rgba(#000, .2);
	}
}

.cd-nav-trigger {
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	/* replace text with image */
	overflow: hidden;
	white-space: nowrap;
	color: transparent;
	pointer-events: auto;

	span, span::after, span::before {
		/* this is the hamburger icon */
		position: absolute;
		width: 18px;
		height: 2px;
		background-color: $primary-color;
		@include MQ(L) {
			background-color: $secondary-color;
		}
	}

	span {
		/* middle line of the hamburger icon */
		@include center;
		@include transition(background-color .2s);
	}

	span::after, span::before {
		/* top and bottom lines of the hamburger icon */
		content: '';
		top: 0;
		left: 0;
		@include backface-visibility(hidden);
		@include transition(transform .2s);
	}

	span::before {
		@include transform(translateY(-6px));
	}

	span::after {
		@include transform(translateY(6px));
	}

	.no-touch &:hover ~ .stretchy-nav-bg {
		box-shadow: 0 6px 30px rgba(#000, .2);
	}

	.nav-is-visible & {

		span {
			background-color: transparent;
		}

		span::before {
			@include transform(rotate(-45deg));
		}

		span::after {
			@include transform(rotate(45deg));
		}
	}
}

.cd-stretchy-nav ul {
	position: relative;
	z-index: 2;
	padding: 60px 0 0;
	visibility: hidden;
	@include transition(visibility .3s);
	text-align: right;

	a {
		position: relative;
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0 calc(1em + 60px) 0 1em;
		color: rgba($secondary-color, .7);
		font-size: 1.4rem;
		@include transition(color .2s);

		&::after {
			/* navigation item icons */
			content: '';
			position: absolute;
			height: 18px;
			width: 18px;
			right: 22px;
			top: 50%;
			@include transform(translateY(-50%) scale(0));
			opacity: .6;
			background: url(../img/menu-sprite.svg) no-repeat 0 0;
		}

		&::before {
			/* line visible next to the active navigation item */
			content: '';
			position: absolute;
			width: 3px;
			height: 18px;
			top: 50%;
			right: 60px;
			@include transform(translateX(3px) translateY(-50%) scaleY(0));
			background-color: $highlight-color;
		}
	}

	li:first-of-type a::after {
		/* change custom icon using image sprites */
		background-position: -32px 0;
	}

	li:nth-of-type(2) a::after {
		background-position: -64px 0;
	}

	li:nth-of-type(3) a::after {
		background-position: -48px 0;
	}

	li:nth-of-type(4) a::after {
		background-position: 0 0;
	}

	li:nth-of-type(5) a::after {
		background-position: -18px 0;
	}

	span {
		/* navigation item labels */
		display: block;
		opacity: 0;
		@include transform(translateX(-25px));
	}
}

.cd-stretchy-nav.nav-is-visible ul {
	visibility: visible;

	a::after {
		/* navigation item icons */
		@include transform(translateY(-50%) scale(1));
		@include animation(scaleIn .15s backwards);
		@include transition(opacity .2s);
	}

	a.active {
		color: $secondary-color;

		&::after {
			opacity: 1;
		}

		&::before {
			@include transform(translateX(3px) translateY(-50%) scaleY(1));
			@include transition(transform .15s .3s);
		}
	}

	span {
		opacity: 1;
		@include transform(translateX(0));
		@include animation(slideIn .15s backwards);
		@include transition(transform .2s);
	}

	.no-touch & a:hover {
		color: $secondary-color;

		&::after {
			opacity: 1;
		}

		span {
			@include transform(translateX(-5px));
		}
	}

	li:first-of-type a::after,
	li:first-of-type span {
		@include animation-delay(.05s);
	}

	li:nth-of-type(2) a::after,
	li:nth-of-type(2) span {
		@include animation-delay(.1s);
	}

	li:nth-of-type(3) a::after,
	li:nth-of-type(3) span {
		@include animation-delay(.15s);
	}

	li:nth-of-type(4) a::after,
	li:nth-of-type(4) span {
		@include animation-delay(.2s);
	}

	li:nth-of-type(5) a::after,
	li:nth-of-type(5) span {
		@include animation-delay(.25s);
	}
}

/* --------------------------------

add-content navigation style

-------------------------------- */

.cd-stretchy-nav.add-content {
	top: 25px;
	right: 25px;
	height: 300px;
	@include MQ(L) {
		top: 50%;
		@include center(y);
		height: 325px;
		padding: 10px 0 40px 0;
	}

	.stretchy-nav-bg {
		background-color: $secondary-color;
		@include transition(height .2s, box-shadow .2s);
		@include MQ(L) {
			@include center(y);
		}
	}

	&.nav-is-visible .stretchy-nav-bg {
		box-shadow: 0 6px 30px rgba(#000, .2);
	}
}

.cd-stretchy-nav.add-content .cd-nav-trigger {
	background-color: $secondary-color;
	@include MQ(L) {
		@include center(y);
		background-color: $primary-color;
	}
}


.cd-stretchy-nav.add-content ul {
	width: 20px;
	height: 100%;
	padding-top: 0;
	@include clearfix;
	display: flex;
	flex-direction: column;
	@include MQ(L) {
		justify-content: space-around;
	}

	li {
		height: 20.5px;
		width: 20px;
		margin: 15px 0;

		&:nth-of-type(1) {
			/* space occupied by the navigation trigger mobile */
			margin-top: 60px;
			@include MQ(L) {
				margin-top: 0;
			}
		}
		&:nth-of-type(2) {
			/* space occupied by the navigation trigger desktop*/
			@include MQ(L) {
				margin-bottom: 100px;
			}
		}
	}

	a {
		padding: 0;
		height: 60px;
		display: block;
		position: relative;

		&::after {
			@include transform(translateY(-50%) scale(0));
			background-image: url(../img/menu-sprite.svg);
		}
	}

	li:first-of-type a::after {
		background-position: 0px -1px;
	}

	li:nth-of-type(2) a::after {
		background-position: -19px 0px;
	}

	li:nth-of-type(3) a::after {
		background-position: -38px -1px;
	}

	li:nth-of-type(4) a::after {
		background-position: -57px 0px;
	}

	li:first-of-type a::after,
	li:nth-of-type(4) a::after {
		@include animation-delay(.2s);
	}

	li:nth-of-type(2) a::after,
	li:nth-of-type(3) a::after {
		@include animation-delay(.1s);
	}
}

.cd-stretchy-nav.add-content.nav-is-visible ul a::after {
	@include animation-name(scaleIn);
	@include transform(translateY(-50%) scale(1));
}

.cd-stretchy-nav.add-content ul span {
	position: absolute;
	right: 80px;
	top: 10px;
	padding: .7em .8em;
	opacity: 0;
	visibility: hidden;
	background-color: $secondary-color;
	color: $primary-color;
	border-radius: 2px;
	font-size: 1rem;
	line-height: 1;
	white-space: nowrap;
	text-align: center;
	@include transition(opacity .2s, visibility .2s);
	/* reset default style */
	@include transform(translateX(0));

	&::after {
		/* triangle below the tooltip */
		content: '';
		position: absolute;
		display: inline-block;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
		-ms-transform: rotate(270deg);
		transform: rotate(270deg);
		left: 100%;
		height: 0;
		margin-left: -1px;
		top: 35%;
		width: 0;
		border: 6px solid transparent;
		border-top-color: $secondary-color;
	}
}

.cd-stretchy-nav.add-content.nav-is-visible ul span {
	/* reset default style */
	@include animation(none);
}


// Brought back the labels for these
	.no-touch .cd-stretchy-nav.add-content.nav-is-visible ul a:hover span {
		opacity: 1;
		visibility: visible;
		/* reset default style */
		@include transform(translateX(0));
	}

	.cd-stretchy-nav.add-content.nav-is-visible ul a:hover span {
		opacity: 1;
		visibility: visible;
	}

/* --------------------------------

keyframes

-------------------------------- */

@include keyframes(scaleIn) {
  from {
    @include transform(translateY(-50%) scale(0));
  }
  to {
    @include transform(translateY(-50%) scale(1));
  }
}

@include keyframes(slideIn) {
  from {
   	opacity: 0;
	@include transform(translateX(-25px));
  }
  to {
    opacity: 1;
	@include transform(translateX(0));
  }
}
